[submodule "src/robot_assets/robots"]
	path = src/robot_assets/robots
	url = git@github.com:sheenanUT/robot-assets.git
	branch = master
[submodule "src/moveit_task_constructor"]
	path = src/moveit_task_constructor
	url = git@github.com:moveit/moveit_task_constructor.git
	branch = humble
[submodule "src/moveit2_tutorials"]
	path = src/moveit2_tutorials
	url = git@github.com:moveit/moveit2_tutorials.git
	branch = humble
